/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
    }
    
    /* 2. Remove default margin */
    * {
        margin: 0;
        }
        
        body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    }
    
    /* 5. Improve media defaults */
    img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    }
    
    /* 6. Inherit fonts for form controls */
    input, button, textarea, select {
    font: inherit;
    }
    
    /* 7. Avoid text overflows */
    p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    }
    
    /* 8. Improve line wrapping */
    p {
    text-wrap: pretty;
    }
    h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    }
    
    /*
    9. Create a root stacking context
    */
    #root, #__next {
    isolation: isolate;
    }

body {
    --primary-color: rgb(23, 18, 25);
    --secondary-color: #225560;
    --active-color: #EDF060;
    --btn-color: #9E2A2B;
    --border-color: #248232;

}    
.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    background-color: var(--secondary-color);
    height: 100vh;
}

form {
    display: grid;
    gap: 20px;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 20px 0;
}
.gameFieldDiv {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: 300px;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    border: 1px solid black;
}

.formRow {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.playersDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

}

.resultDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 3rem;
}

.cell {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    font-size:80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.winningCell {
    background-color: var(--active-color);
}

.activePlayer {
    border: 2px var(--active-color) solid;
}

.activeCell:hover {
    background-color: var(--active-color);
}

.btn {
    width: 100px;
    padding: 5px 15px;
    border: solid 1px black;
    border-radius: 5px;
    background-color: var(--btn-color);
    color: white;
}

.score {
    font-weight: 700;
}